body {
    overflow-x: hidden;
    margin: 0;
}

#navbar {
    background: #D3D3D3;
    display: flex;
    height: 100px;
    width: screen;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 50%;
}

.nav_item {
    list-style: none;
    background: greens;
}

.logo {
    width: 200px;
    height: 80px;
}

.button {
    background: rgb(0, 0, 255, 0.5);
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
}

.about-section {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    margin: 40px 0;
}

#about-section-text {
    margin-left: 40px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.services {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.s heading {
    text-align: center;
    color: #ffffff;
}

.s heading h1 {
    color: red;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
    color: #ffffff;


}

.s_box_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    padding: 20px 25px;
    box-sizing: border-box;
    /* margin: 30px; */
    position: relative;

}

.s-box h1 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
    text-align: center;

}

.s-box img {
    height: 100px;


}

.s-box p {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.s-btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(74 144 226 0.5);
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #576975;
    align-items: center;

}

.s-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0, 0.8);
    transition: all ease 0.35;

}

.s-btn:hover {
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
    color: #ffffff;
    transition: all ease 0.35
}

.bar {
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    background-color: #4a90e2;
    border-radius: 0px 0px 10px 10px;
}

.responive table {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

.table-container {
    padding: 0 10% 60px;
    margin: 40px auto 0;

}

.heading {
    font-size: 40px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;

}

.table {
    width: 100%;
    border-collapse: collapse;

}

table thead {
    background-color: burlywood;


}

table thead tr th {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #dee2e685;

}

.table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;


}

.table .text_open {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: blueviolet;
}

.table tbody tr td .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: goldenrod;
    font-weight: medium;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;

}