nav{
    background: #000;
    display: flex;
    justify-content: space between;
    flex-wrap:wrap;
    height: 100px;
}

.nav_list{
    width: fit-content;
    display: flex;
    background-color: aqua;
}

.nav_item {
    list-style: none;
padding-right: 24px;
}

.logo{
    width:200px;
    height:80px;
}

